.price {
  position: relative;
  padding-bottom: 125px;
  &_services {
    &-list {
      margin: 60px 0;
      list-style: none;
      border-top: 1px solid #F7F7F7;
      border-bottom: 1px solid #F7F7F7;
    }
    &-item {
      padding: 25px;
      min-height: 92px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-heading {
        width: 45%;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: $text;
      }
      &-cost {
        text-align: left;
        width: 35%;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
      }
      &:nth-child(2n + 1)  {
        background: #FFF;
      }
      &:nth-child(2n)  {
        background: #F7F7F7;
      }
    }
  }
  &_details {
    display: inline-block;
    width: 56%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $blue;
  }
  &_discount {
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 45px;
    right: 0;
    bottom: 125px;
    height: 91px;
    width: 27%;
    border: 3px solid rgba(196, 196, 196, 0.3);
    border-radius: 200px 0px 0px 200px;
  }
}