//Colors
$dark-green: #005A58;
$green: #016F6C;
$light-green: #037673;
$yellow: #F4B439;
$yellow-2: #E3A224;
$dark-yellow: #E7A018;
$blue: #28345A;
$text: #222723;
$text-gray: #595A52;
$gray: #EBEBEB;


$transition-time: 0.25s;